@import url('./font.css');
@import url('./multi-select.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  @apply
  m-0 !important;
}

html {
  @apply
  h-full;
}

body {
  @apply
  overflow-x-hidden;
}

body, #app, main {
  @apply
  min-h-[100vh];
}

#app {
  @apply
  overflow-hidden;
}

main {
  @apply
  max-h-fit;
}

.text-shadow {
  text-shadow: 1px 1px 0 #000;
}

.fmt-focusable {
  @apply
  border-2 sm:border-3
  border-gray-300 
  dark:border-gray-600 
  focus:border-blue-500 
  dark:focus:border-blue-500 
  focus:ring-blue-500 
  dark:focus:ring-blue-500;
}

.fmt-form-input-base {
  @apply
  transition-colors
  bg-gray-50 
  dark:bg-gray-800 
  disabled:bg-gray-200 
  disabled:dark:bg-gray-700
  text-gray-900 text-sm 
  dark:text-white 
  dark:placeholder-gray-400;
}

.fmt-form-input {
  @apply 
  rounded-lg 
  block 
  /* w-full  */
  p-2.5 
  fmt-form-input-base
  fmt-focusable
  !important;
}

.ts-control, .ts-control>input {
  @apply
  fmt-md;
}

.ts-control {
  @apply
  rounded-lg 
  border-2 sm:border-3
  p-2;
}

.fmt-form-label {
  @apply
  block
  mb-1 sm:mb-2
  fmt-lg
  text-gray-900 dark:text-white;
}

.fmt-breadcrumb-item {
  @apply
  inline-flex items-center 
  px-2 py-2 
  fmt-md
  text-gray-900 
  dark:text-white
  font-normal text-center 
  rounded-lg 
  select-none;
}

.fmt-breadcrumb-item.active {
  @apply
  bg-gray-50
  dark:bg-gray-800 
  disabled:bg-gray-200 
  disabled:dark:bg-gray-700
  fmt-focusable;
}

.fmt-xs {
  @apply
  text-xs sm:text-sm md:text-sm;
}

.fmt-sm {
  @apply
  text-sm sm:text-base md:text-base;
}

.fmt-md {
  @apply
  text-sm sm:text-lg md:text-xl;
}

.fmt-lg {
  @apply
  text-base sm:text-xl md:text-2xl;
}

.fmt-xl {
  @apply
  text-lg sm:text-2xl md:text-3xl;
}

.fmt-text-primary {
  @apply
  text-gray-900 dark:text-white;
}

.fmt-text-secondary {
  @apply
  text-gray-700 dark:text-gray-400;
}

.fmt-border-color {
  @apply
  border-gray-200 
  dark:border-gray-700;
}

.fmt-button {
  @apply
  text-white 
  font-medium 
  rounded-lg 
  px-4 sm:px-8 py-1.5 sm:py-2.5
  bg-blue-700 hover:bg-blue-800 
  dark:bg-blue-600 dark:hover:bg-blue-700 
  focus:ring-4 focus:ring-blue-300 
  focus:outline-none dark:focus:ring-blue-800
  disabled:opacity-75;
}

.fmt-button.fmt-alert {
  @apply
  bg-red-700 hover:bg-red-800 
  dark:bg-red-600 dark:hover:bg-red-700 
  focus:ring-4 focus:ring-red-300 
  focus:outline-none dark:focus:ring-red-800;
}

.fmt-dropdown-item {
  @apply
  block px-4 py-2 
  hover:bg-gray-100 dark:hover:bg-gray-600 
  dark:hover:text-white;
}

.multiselect.invalid .ts-control {
  @apply
  border-red-600 dark:border-red-500;
}

.fmt-badge {
  @apply
  inline-block 
  fmt-xs 
  font-medium 
  px-2 py-0 
  rounded;
}

.fmt-badge-success {
  @apply
  fmt-badge
  text-blue-800 dark:text-blue-300
  bg-blue-100 dark:bg-blue-900;
}

.fmt-badge-error {
  @apply
  fmt-badge
  text-red-800 dark:text-red-300
  bg-red-100 dark:bg-red-900;
}

.fmt-action-card-body {
  @apply
  bg-white
  dark:bg-gray-800
  !important;
}

a.fmt-webpush-ua {
  @apply
  overflow-visible;
}

.fmt-button.fmt-alert.fmt-webpush-ua-dismiss {
  @apply
  px-2
  rounded-l-none;
}

.fmt-tips {
  @apply
  absolute z-10 
  inline-block px-3 py-2 
  text-sm font-medium text-white 
  transition-opacity duration-300 
  rounded-lg shadow-sm  
  tooltip
  bg-gray-900 
  dark:bg-gray-700;
}

.fmt-tab-pill {
  @apply
  inline-block w-full px-0 py-2 sm:px-4 sm:py-3 
  transition-all
  focus:ring-4 focus:ring-blue-500
  hover:text-gray-700 dark:hover:text-white 
  bg-white dark:bg-gray-800 
  hover:bg-gray-50 dark:hover:bg-gray-700;
}

.fmt-tab-pill[aria-selected="true"] {
  @apply
  bg-gray-100 dark:bg-gray-600 
  text-gray-900 dark:text-white
  hover:text-gray-900 hover:dark:text-white;
}
