<svg width="668" height="360" viewBox="0 0 668 360" fill="none" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect width="728" height="360" fill="#202020" />
  <g transform="translate(10,16)">
    <image x="0" y="0" width="100" height="100" href="{{rule_img_url}}" />
    <text x="108" y="72" font-size="36" fill="white">{{rule}}</text>
    <text text-anchor="end" x="648" y="72" font-size="28" fill="white">{{start_time}}</text>
  </g>
  <g transform="translate(0,120)">
    <g transform="translate(0,0)">
      <image width="334" height="240" preserveAspectRatio="xMidYMid slice"
        href="img/stage/vs/{{stages[0]}}.png" />
    </g>
    <g transform="translate(334,0)">
      <image width="334" height="240" preserveAspectRatio="xMidYMid slice"
        href="img/stage/vs/{{stages[1]}}.png" />
    </g>
    <g transform="translate(275,48)">
      <image width="120" height="120" href="{{mode_img_url}}" />
    </g>
  </g>
</svg>